<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Sign Up Page</title>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/nice-select.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/css/slicknav.min.css" type="text/css">
  </head>
<body>
<div class="container">
  <section id="content">
    <form method="POST">
      <h1>Register Form</h1>
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">first name</label>
        <input type="text" class="form-control" name="first_name">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">last name</label>
        <input type="text" class="form-control" name="last_name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">confirm password</label>
        <input type="password" class="form-control" name="confirm_password">
      </div>
      <div class="mb-3"></div>
      <input type="submit" value="Register" class="btn btn-primary">
        <a href="#">Lost your password?</a>
        <a href="./login">Login</a>
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->
</body>
</html>